/* BREAKPOINTS  */
$breakpoint-xlg: 75em;     // 1200 / 16
$breakpoint-lg: 64em;     // 1024 / 16
$breakpoint-md: 48em;     // 768 / 16
$breakpoint-sm: 36em;     // 576 / 16
$breakpoint-sm: 36em;     // 375 / 16


/*

    VARIABLES

*/

/* COLOR */
    $color-primary: #212529;
    $color-secondary: #dc3724;
    $color-light: #f9f9fa;
    $color-black: #000;
    $color-white: #FFF;

/* TYPOGRAPHY */
    $font-family-base: 'Montserrat', sans-serif;
    $font-size-base: 1.6rem;
    $font-weight-base: 400;
    $font-weight-headings: 700;
    $font-weight-buttons: 700;
    $font-weight-small: 700;
    $line-height-base: 1.6;

h1, h2, h3, h4 {
    font-weight: $font-weight-headings;
}
h1 { font-size: 2.6rem; }
h2 { font-size: 2.4rem; }
h3 { font-size: 2.2rem; }
h4 { font-size: 2rem; }

small { font-weight: $font-weight-small; }

.text-primary { color: $color-primary; }
.text-secondary { color: $color-secondary; }

/*

    UTILITIES

*/
.px-2 { padding: 2rem 0; }

.display-1{ 
    font-size: 7rem; 

    @media only screen and (max-width: $breakpoint-sm) {
        font-size: 5rem; 
    }
}

.text-center { text-align: center; }
