/*

    VARIABLES

*/

/* COLOR */
$color-primary: #22263f;
$color-secondary: #999b9b;
$color-light: #f9f9fa;
$color-dark: #212529;
$color-black: #000;
$color-white: #FFF;

/* TYPOGRAPHY */
$font-family-base: 'Montserrat', sans-serif;
$font-size-base: 1.6rem;
$font-weight-base: 400;
$line-height-base: 1.6;
