/*

    NAV

*/
.navbar {
    background-color: $color-white;
    grid-column: full-start / full-end;
    color: $color-primary;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*

    BUTTONS

*/
button {
    padding: 1rem 2rem;
    background-color: transparent;
    border: 0;
    outline: transparent;
    text-transform: uppercase;
    font-size: $font-size-base;
    font-weight: $font-weight-buttons;
    cursor: pointer;
    transition: all 0.2s;
}

.btn-outline-primary {
    color: $color-primary;
    border: 1px solid $color-primary;

    &:hover {
        background-color: $color-primary;
        color: $color-white;
      }
}



