* {
    margin: 0;
    padding: 0;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;       // 1 rem = 10px; 10px/16px = 62.5%
}

body{
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    line-height: $line-height-base;
}

/*

   GRID
    - min-content: adapt to content

*/
.container {
    display: grid;
    grid-template-rows: 8vh 80vh 80vh 50vh repeat(2, min-content);
    grid-template-columns: [full-start] 1fr [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] 1fr [full-end]; // 1200 / 12
}

.partners {
    grid-column: col-end 9 / full-end;
}

.services {
    grid-column: center-start / center-end;
}

.enviroment {

    &__pictures {
        grid-column: full-start  / col-end 6;
    }

    &__content {
        grid-column: col-start 7 / full-end;
    }
}

.projects {
    grid-column: full-start / full-end;
}




/*

    HEADER

*/
.site-header {
    grid-column: full-start / col-end 8;
    background: url(../images/header-op.png) no-repeat;
    background-size: cover;
    background-position: center;

    display: grid;
    align-items: center;
    text-align: center;

    &__hero {
        padding: 0 5rem;
    }

    &__title {
        color: $color-secondary;
        letter-spacing: -0.05em;
    }
}




/*

    FOOTER

*/
.site-footer {
    background-color: $color-primary;
    grid-column: full-start / full-end;
}